<!DOCTYPE html>
<html>
  <head>
    <title>AirPollutionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%= render 'shared/navbar' %>
          <div class="col py-3">
            <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
